<template>
    <!-- Front in Frames Section -->
    <div class="overflow-hidden" id="aboutClinic">
        <template v-if="ourTeam">
            <ourteam @cancelTeam="ourTeam = false"/>
        </template>
        <template v-else>
            <div class="container space-2 space-md-1 animated fadeInDown">
                <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-7 mb-lg-0">
                    <div class="pr-md-4">
                    <!-- Title -->
                    <div class="mb-7">
                        <span class="btn btn-xs btn-soft-success btn-pill mb-2">About</span>
                        <h2 class="text-primary">Dr. <span class="font-weight-semi-bold">Bashir Admani </span> & <span class="font-weight-semi-bold"> Associates Pediatric Clinic</span></h2>
                        <p>We have provided for the health needs of infants, children, and adolescents since 2008. We are dedicated to providing the highest quality health care for our patients in accordance with international standards.</p>
                        <p>We believe that providing accurate information is an essential part of good medical care, so that parents can make the best decisions on behalf of their children.</p>
                        
                        <!-- <h2 class="text-primary">Education.</h2> -->
                        <p>Our practice consists of clinics in three locations, Aga Khan Hospital, Doctors Plaza-Parklands, the Hub-Karen, and Lavington Mall-Lavington.</p>
                    </div>
                    <!-- End Title -->
                    <button class="point btn btn-sm btn-primary btn-pill btn-wide transition-3d-hover" @click.prevent="ourTeam = true">The Doctors <span class="fas fa-angle-right ml-2"></span></button>
                    </div>
                </div>

                <div class="col-lg-6 position-relative">
                    <!-- Image Gallery -->
                    <div class="row mx-gutters-2">
                    <div class="col-5 align-self-end px-2 mb-3">
                        <!-- Fancybox -->
                        <a class="js-fancybox u-media-viewer" href="javascript:;"
                        data-src="/img/320x320/img1.jpg"
                        data-fancybox="gallery"
                        data-caption="Front in frames - image #01"
                        data-speed="700">
                        <img class="img-fluid rounded" src="/img/320x320/img1.jpg" alt="Image Description">

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                            <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                        </a>
                        <!-- End Fancybox -->
                    </div>

                    <div class="col-7 px-2 mb-3">
                        <!-- Fancybox -->
                        <a class="js-fancybox u-media-viewer" href="javascript:;"
                        data-src="/img/450x450/img1.jpg"
                        data-fancybox="gallery"
                        data-caption="Front in frames - image #02"
                        data-speed="700">
                        <img class="img-fluid rounded" src="/img/450x450/img1.jpg" alt="Image Description">

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                            <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                        </a>
                        <!-- End Fancybox -->
                    </div>

                    <div class="col-5 offset-1 px-2 mb-3">
                        <!-- Fancybox -->
                        <a class="js-fancybox u-media-viewer" href="javascript:;"
                        data-src="/img/280x310/img1.jpg"
                        data-fancybox="gallery"
                        data-caption="Front in frames - image #03"
                        data-speed="700">
                        <img class="img-fluid rounded" src="/img/280x310/img1.jpg" alt="Image Description">

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                            <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                        </a>
                        <!-- End Fancybox -->
                    </div>

                    <div class="col-5 px-2 mb-3">
                        <!-- Fancybox -->
                        <a class="js-fancybox u-media-viewer" href="javascript:;"
                        data-src="/img/300x180/img1.jpg"
                        data-fancybox="gallery"
                        data-caption="Front in frames - image #04"
                        data-speed="700">
                        <img class="img-fluid rounded" src="/img/300x180/img1.jpg" alt="Image Description">

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                            <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                        </a>
                        <!-- End Fancybox -->
                    </div>
                    </div>
                    <!-- End Image Gallery -->

                    <!-- SVG Background Shape -->
                    <div id="SVGbgShapeID1" class="svg-preloader w-100 content-centered-y z-index-n1">
                    <figure class="ie-soft-triangle-shape">
                        <img class="js-svg-injector" src="/svg/components/soft-triangle-shape.svg" alt="Image Description"
                            data-parent="#SVGbgShapeID1">
                    </figure>
                    </div>
                    <!-- End SVG Background Shape -->
                </div>
                </div>
            </div>
        </template>
    </div>
    <!-- End Front in Frames Section -->
</template>

<script>
import Ourteam from "./ourteam";
export default {
    components: {
        Ourteam
    },
    data() {
        return {
            ourTeam: false
        };
    },
}
</script>

<style>

</style>
