<template>
    <div class="bg-light" id="homeslider">
        <div class="container space-top-2 space-top-md-3 space-bottom-1">
            <div class="row justify-content-lg-between align-items-center">
                <div id="SVGellipseMockup" class="col-md-6" style="">
                    <!-- SVG Mockup -->
                    <figure class="ie-ellipse-mockup">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 614.8 747.7" style="enable-background:new 0 0 614.8 747.7;" xml:space="preserve" class="injected-svg js-svg-injector animated" :class="slideanimation"
                            data-img-paths="[
                        {&quot;targetId&quot;: &quot;#SVGellipseMockupImg1&quot;, &quot;newPath&quot;: &quot;img/615x750/img1.jpg&quot;}
                        ]"
                            data-parent="#SVGellipseMockup">
                            <path class="ellipse-mockup-0 fill-primary" opacity=".1" d="M186.9,138.9C125.8,144.5,69.7,176,34.4,226c-54.3,76.8-67.1,204.7,193.8,371.7c411.5,263.5,387.9,6,382.7-30.6  c-0.5-3.6-0.9-7.2-1.3-10.7l-22.1-241.9C576.8,198.3,474,112.7,357.7,123.3L186.9,138.9z"></path>
                            <g>
                                <defs>
                                    <path id="SVGellipseMockupID1" d="M168.6,729.7L168.6,729.7c135.8,53,290.2-14.8,343.2-150.6l85-217.9C649.8,225.4,582,71,446.2,18l0,0    C310.4-34.9,156,32.8,103,168.6L18,386.5C-34.9,522.3,32.8,676.7,168.6,729.7z"></path>
                                </defs>
                                <clipPath id="SVGellipseMockupID2">
                                    <use href="#SVGellipseMockupID1" style="overflow:visible;"></use>
                                </clipPath>
                                <g style="clip-path:url(#SVGellipseMockupID2);">
                                    <image id="SVGellipseMockupImg1" style="overflow:visible;" width="750" height="750" :href="'/img/750x750/'+showingSlide" transform="matrix(1 0 0 1 -0.1366 -0.9532)"></image>
                                </g>
                            </g>
                            <g>
                                <circle class="ellipse-mockup-1 fill-danger" cx="126.3" cy="693.8" r="16.3"></circle>
                                <circle class="ellipse-mockup-2 fill-teal" cx="132.9" cy="632.6" r="10.6"></circle>
                                <circle class="ellipse-mockup-3 fill-primary" cx="77" cy="655.9" r="21.6"></circle>
                                <circle class="ellipse-mockup-4 fill-warning" cx="38.8" cy="708.1" r="3.9"></circle>
                            </g>
                        </svg>
                    </figure>
                    <!-- End SVG Mockup -->
                </div>
                
                <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
                    <div class="pr-md-4">
                        <!-- Info -->
                        <div class="media mb-7">
                            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A.</span>
                            </span>
                            <div class="media-body">
                                <!-- <h3 class="h5 text-primary">Best &amp; fast care</h3> -->
                                <p>We have provided for the health needs of all our patients</p>
                            </div>
                        </div>
                        <!-- End Info -->

                        <!-- Info -->
                        <div class="media mb-7">
                            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">B.</span>
                            </span>
                            <div class="media-body">
                                <!-- <h3 class="h5 text-primary">Our Services</h3> -->
                                <p>Our commitment to the highest standards of care across the outpatient.</p>
                            </div>
                        </div>
                        <!-- End Info -->

                        <a class="btn btn-primary btn-wide btn-pill transition-3d-hover" v-scroll-to="{el: '#sendMessage', offset: -120,}" @click.prevent="sendingMessage = true" href="#">Contact us <span class="fas fa-angle-right ml-2"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
export default {
    data () {
        return {
            slides:[{
                    'image':'bashir.jpg',
                    'animation': 'zoomInUp'
                },{
                    'image':'fairstaid.jpg',
                    'animation': 'fadeIn'
                },{
                    'image':'advice.jpg',
                    'animation': 'fadeInDown'
                },{
                    'image':'fartaid11.jpg',
                    'animation': 'rollIn'
                }
            ],
            startnow: null,
            currentSlide: null,
            showingSlide: null,
            slideanimation: null,

            slideCounter: 0,
            slide:3
        }
    },
    methods: {
        myTimer(){
            setInterval(() => {
                this.startnow = new Date().getTime() / 1000;
            }, 5000);
        }
    },
    watch: {
        startnow: function() {
            var count = this.slides.length - 1;
            this.slideanimation = null
            if (this.currentSlide < count) {
                this.currentSlide ++
            }else{
                this.currentSlide = 0
            }
            this.showingSlide = this.slides[this.currentSlide].image
            this.slideanimation = this.slides[this.currentSlide].animation
            // console.log(this.slides[this.currentSlide]+' '+this.currentSlide)
        }
    },
    // watch: {
    //     startnow: function() {
    //         if (this.slideCounter < this.slide) {
    //             this.slideCounter ++
    //         }else{
    //             this.slideCounter = 0
    //         }
    //     }
    // },
    mounted() {
        this.myTimer()
        this.showingSlide = this.slides[0].image
        this.slideanimation = this.slides[0].animation
    }
}
</script>

<style>

</style>