<template>
<span>
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9 animated bounceIn faster">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Services booking</span>
        <h2 class="text-primary"><span class="font-weight-semi-bold">{{servicedesc}}</span></h2>
        <p>Fill the form below to book for {{servicedesc}} to be done by {{doctor}}.</p>
    </div>
    <form class="js-validate animated bounceIn" autocomplete="off" @submit.prevent="bookappointment">
        <div class="row">
            <div class="col-md-10 mr-auto ml-auto">
                <div class="row">
                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="js-form-message">
                            <label class="form-label">
                                Appointment date
                                <span class="text-danger">*</span>
                            </label>
                            <el-date-picker v-model="date" type="date" placeholder="Please pick appointment date."></el-date-picker>
                            <p class="small text-danger" v-if="errors.date">
                                {{ errors.date[0] }}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-6">
                        <div class="js-form-message">
                            <label class="form-label">
                                Appointment time
                                <span class="text-danger">*</span>
                            </label>
                            <el-time-select v-model="time" :picker-options="{
                                start: '08:30',
                                step: '00:10',
                                end: '18:30'
                            }" placeholder="Please pick appointment time."></el-time-select>
                            <p class="small text-danger" v-if="errors.time">
                                {{ errors.time[0] }}
                            </p>
                        </div>
                    </div>
                    <!-- End Input -->
                </div>
                <div class="row">
                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="js-form-message">
                            <label class="form-label">
                                Your name
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control form-control-xs" placeholder="Jack Wayley" v-model="name">
                            <p class="small text-danger" v-if="errors.name">
                                {{ errors.name[0] }}
                            </p>
                        </div>
                    </div>
                    <!-- End Input -->
                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="js-form-message">
                            <label class="form-label">
                                Your email address
                                <span class="text-danger">*</span>
                            </label>
                            <input type="email" class="form-control form-control-xs" placeholder="jackwayley@gmail.com"  v-model="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- End Input -->
                    <div class="w-100"></div>
                </div>
                <div class="row">
                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="js-form-message">
                            <label class="form-label">
                                Your Phone Number
                                <span class="text-danger">*</span>
                            </label>
                            <input type="number" class="form-control form-control-xs" placeholder="0723111111"  v-model="phone">
                            <p class="small text-danger" v-if="errors.phone">
                                {{ errors.phone[0] }}
                            </p>
                        </div>
                    </div>
                    <!-- End Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="js-form-message">
                            <label class="form-label">
                                Your location
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control form-control-xs" v-model="location" placeholder="Nairobi parklands" >
                            <p class="small text-danger" v-if="errors.location">
                                {{ errors.location[0] }}
                            </p>
                        </div>
                    </div>
                    <!-- Input -->
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-6">
                        <div class="js-form-message mb-6">
                            <label class="form-label">
                                How can we help you?
                                <span class="text-danger">*</span>
                            </label>
                            <!-- <div class="input-group"> -->
                                <textarea class="form-control form-control-xs" rows="4" v-model="message" placeholder="Hi there, I would like to ..."  style="resize: none;"></textarea>
                            <!-- </div> -->
                            <p class="small text-danger" v-if="errors.message">
                                {{ errors.message[0] }}
                            </p>
                        </div>
                    </div>
                    <!-- End Input -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-left ml-auto">
                <button type="submit" class="btn btn-success btn-sm btn-pill btn-wide transition-3d-hover mb-4">Submit</button>
            </div>
            <div class="col-md-4 text-right mr-auto">
                <button @click.prevent="$emit('cancelBooking')" class="btn btn-danger btn-sm btn-pill btn-wide transition-3d-hover mb-4">Cancel</button>
            </div>
        </div>
        <div class="text-center">
            <p class="small">We'll get back to you in 1-2 business days.</p>
        </div>
    </form>
</span>
</template>

<script>
export default {
    data () {
        return {
            date: null,
            time: null,
            name: null,
            email: null,
            phone: null,
            location: null,
            message: null,
            // servicedesc: null
        }
    },
    props: {
        doctor: {
            required: true,
            type: String
        },
        servicedesc: {
            required: true,
            type: String
        }
    },
    methods: {
        dateFormater(date){
            if (date != null && date != "") {
                var today = new Date(date);
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                var dateIssued = yyyy+'-'+mm+'-'+dd;
                return dateIssued;
            }else {
                return null;
            }
        },
        async bookappointment () {
            let response = await this.$axios.$post('booking', {
                'date':this.dateFormater(this.date),
                'time':this.time,
                'name': this.name,
                'email': this.email,
                'phone': this.phone,
                'location': this.location,
                'message': this.message,
                'servicedesc': this.servicedesc,
            })
            // this.$swal({
            //     title: 'Thanks you '+this.name+', we will contact you.',
            // });
            this.$emit('cancelBooking', response)
        }
    }
};
</script>

<style>
</style>
