<template>
    <div id="SVGSubscribe" class="bg-primary u-devices-v2">
    <div class="container space-1 position-relative z-index-2">
        <!-- Title -->
        <div class="w-md-80 w-lg-70 text-center mx-md-auto">
            <span class="btn btn-lg btn-icon btn-white rounded-circle mb-4">
                <img class="img-fluid rounded-circle" src="/img/100x100/bashir.jpg" alt="Dr. Bashir">
            </span>
            <h2 class="h1 text-white">Get Your <span class="font-weight-semi-bold">Flu Shot</span> Today!</h2>
            <p class="lead text-white-70 mb-0">Every week there is another health pronouncement saying what is now good for you and what is going to kill you. Unfortunately, the “what” is often interchangeable -- what was supposed to kill you last week is now suddenly good for you or vice versa. Foods, supplements, and activities, all studied extensively and determined to be either good or bad, then subject to a new study, with the opposite conclusion.</p>
        </div>
        <!-- End Title -->
    </div>

    <!-- SVG Background Shape -->
    <figure class="w-100 position-absolute top-0" style="top: 9%;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1653 222.1"
            style="enable-background:new 0 0 1653 222.1;" xml:space="preserve" class="injected-svg js-svg-injector"
            data-parent="#SVGSubscribe">
            <style type="text/css">
                .process-pointer-1-0 {
                    fill: none;
                    stroke: #FFFFFF;
                }
            </style>
            <g>
                <g opacity=".3">
                    <path class="process-pointer-1-0 fill-none stroke-white" stroke-miterlimit="10" d="M0.5,200.2c0,0,1.3,0.4,3.8,1.2"></path>
                    <path class="process-pointer-1-0 fill-none stroke-white" stroke-miterlimit="10" stroke-dasharray="7.9643,7.9643"
                        d="M12,203.4c31.8,8.4,125.8,28.7,233.9,11.3c74.3-12,150.4-23.1,219.4-55c51.4-23.8,93.7-64.1,147.1-84.2    c24.2-9.1,49.4-15.5,74.7-20.5c65.8-12.9,137.3-16.7,205.9-8c67.6,8.6,125.9,33.9,179.7,52.6c335.2,116.6,538.6-59.1,574.2-93.5"></path>
                    <path class="process-pointer-1-0 fill-none stroke-white" stroke-miterlimit="10" d="M1649.7,3.4c1.8-1.9,2.8-2.9,2.8-2.9"></path>
                </g>
            </g>
            <g>
                <circle class="process-pointer-1-0 fill-none stroke-white" stroke-opacity=".15" stroke-width="12"
                    stroke-miterlimit="10" cx="1286.1" cy="139.1" r="7.9"></circle>
                <circle class="process-pointer-1-0 fill-none stroke-white" stroke-width="5" stroke-miterlimit="10" cx="1286.1"
                    cy="139.1" r="4.5"></circle>
            </g>
            <g>
                <circle class="process-pointer-1-0 fill-none stroke-white" stroke-opacity=".15" stroke-width="12"
                    stroke-miterlimit="10" cx="597.1" cy="82.1" r="7.9"></circle>
                <circle class="process-pointer-1-0 fill-none stroke-white" stroke-width="5" stroke-miterlimit="10" cx="597.1"
                    cy="82.1" r="4.5"></circle>
            </g>
            <g>
                <circle class="process-pointer-1-0 fill-none stroke-white" stroke-opacity=".15" stroke-width="12"
                    stroke-miterlimit="10" cx="448.1" cy="166.1" r="7.9"></circle>
                <circle class="process-pointer-1-0 fill-none stroke-white" stroke-width="5" stroke-miterlimit="10" cx="448.1"
                    cy="166.1" r="4.5"></circle>
            </g>
        </svg>
    </figure>
    <!-- End SVG Background Shape -->
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
