<template>
  <form autocomplete="off" class="animated bounceIn faster" @submit.prevent="store">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="text-sm" for="name">Your name</label>
          <input
            v-model="form.name"
            class="form-control form-control-xs input-group-pill"
            type="text"
          >
          <p class="small text-danger" v-if="errors.name">{{ errors.name[0] }}</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="text-sm" for="name">Your email</label>
          <input
            v-model="form.email"
            class="form-control form-control-xs input-group-pill"
            type="email"
          >
          <p class="small text-danger" v-if="errors.email">{{ errors.email[0] }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-sm" for="name">Phone number</label>
          <input
            v-model="form.phone"
            class="form-control form-control-xs input-group-pill"
            type="text"
          >
          <p class="small text-danger" v-if="errors.phone">{{ errors.phone[0] }}</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="text-sm" for="name">Message</label>
          <textarea
            style="resize:none;"
            v-model="form.message"
            id
            cols="30"
            rows="5"
            class="form-control form-control-xs"
          ></textarea>
          <p class="small text-danger" v-if="errors.message">{{ errors.message[0] }}</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-rounded btn-success btn-xs position-right-0">Send</button>
          </div>
          <div class="col-6 text-right">
            <button
              @click.prevent="$emit('cancel')"
              type="button"
              class="btn btn-rounded btn-danger btn-xs position-left-0"
            >Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>


<script>
import axios from "axios";
export default {
    data() {
        return {
            errors:[],
            state: 1,
            form: {
                name: "",
                email: "",
                phone: "",
                message: ""
            }
        };
    },
    methods: {
        async store() {
            var vm = this;
            vm.state = 1
            vm.errors = []
			if (!vm.form.name) {
                vm.state = 2
				vm.errors.name = ['Your name is required.'];
			}
			if (!vm.form.email) {
                vm.state = 2
				vm.errors.email = ["Your email is required."];
			}
			if (!vm.form.phone) {
                vm.state = 2
				vm.errors.phone = ["Your phone number is required."];
			}
			if (!vm.form.message) {
                vm.state = 2
				vm.errors.message = ["Please type a message."];
            }
            
            if (vm.state == 1) {
                let response = await this.$axios
                .$post("index.php", this.form)
                .then(function(response) {
                    if (response.status == 200 && response.message == 2) {
                        vm.$emit('created', vm.form)
                    }
                })
                .catch(function(error) {
                    vm.$swal(
                        'Error!',
                        'Please try again.',
                        'error'
                    );
                    console.log(error);
                });
            }
        },
    }
};
</script>

<style>
</style>
