<template>
    <span>
        <div class="clearfix animated zoomIn faster">
            <div class="container">
                <div class="w-md-75 w-lg-90 text-left mx-md-auto mb-3">
                    <h2 class="text-primary">{{title}}</h2>
                    <div class="text-center my-5">
                        <div v-for="(fl, index) in files" :key="index" class="animated pulse infinite d-sm-inline-flex align-items-center shadow-sm rounded-pill p-2 pr-3">
                            <a :href="'/files/'+fl.file" target="_blank">
                                <span class="point btn btn-xs btn-soft-primary btn-pill mb-2 mb-sm-0 mr-2">
                                    <i class="fa fa-download"></i>
                                </span>
                            </a>
                            <span class="d-block d-sm-inline-block">
                                {{fl.desc}}
                            </span>
                        </div>
                    </div>

                    
                    <div class="pr-md-4" v-for="dtl in fulldetails" :key="dtl.id">
                        <div class="my-2">
                            <h5 v-if="dtl.title" class="text-warning">{{dtl.title}}</h5>
                            <p class="pl-3">{{dtl.paragraph}}</p>
                        </div>
                        <template v-if="dtl.list">
                            <ul class="list-group list-group-flush list-group-borderless mb-0 ml-8">
                                <li v-for="ls in dtl.list" :key="ls.id" class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                                        <span class="fas fa-check btn-icon__inner"></span>
                                        </span>
                                        {{ls.name}}
                                    </div>
                                </li>
                            </ul>
                            <template v-if="dtl.tablehead">
                                <div class="alert alert-light w-lg-100 border shadow-sm mx-auto">
                                    <div class="table-responsive-md u-datatable">
                                        <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                                            <thead>
                                                <tr class="text-uppercase font-size-1">
                                                    <th v-for="tab in dtl.tablehead" :key="tab.id" scope="col" class="font-weight-medium">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            {{tab.name}}
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="font-size-1">
                                                <template v-if="dtl.tablebody">
                                                    <tr v-for="data in dtl.tablebody" :key="data.id" :class="data.calss">
                                                        <td class="align-middle font-weight-normal">{{data.area}}</td>
                                                        <td class="align-middle">{{data.temp}}</td>
                                                    </tr>
                                                </template>
                                                <template v-if="dtl.tablebodyfood">
                                                    <tr v-for="food in dtl.tablebodyfood" :key="food.id" :class="food.calss">
                                                        <td class="align-middle font-weight-normal">{{food.stage}}</td>
                                                        <td class="align-middle">
                                                            <ul class="list-group list-group-flush list-group-borderless mb-0 ml-8">
                                                                <li v-for="dt in food.canhave" :key="dt.id" class="list-group-item">
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                                                                        <span class="fas fa-check btn-icon__inner"></span>
                                                                        </span>
                                                                        {{dt.name}}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="align-middle">
                                                            <ul class="list-group list-group-flush list-group-borderless mb-0 ml-8">
                                                                <li v-for="can in food.canthave" :key="can.id" class="list-group-item">
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                                                                        <span class="fas fa-check btn-icon__inner"></span>
                                                                        </span>
                                                                        {{can.name}}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="align-middle">
                                                            <ul class="list-group list-group-flush list-group-borderless mb-0 ml-8">
                                                                <li v-for="app in food.approx" :key="app.id" class="list-group-item">
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-3">
                                                                        <span class="fas fa-check btn-icon__inner"></span>
                                                                        </span>
                                                                        {{app.name}}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
        </div>
            <div class="js-slide">
                <div class="u-avatar mx-auto">
                    <button v-scroll-to="{el: '#ourServices', offset: 80,}" @click.prevent="$emit('cancelFullDetails')" type="button" class="text-white btn btn-icon btn-warning rounded-circle transition-3d-hover mb-1">
                        <span class="fas fa-arrow-left"></span>
                    </button>
                </div>
            </div>
    </span>
</template>

<script>
export default {
    props: {
        title: {
            required: true,
            type: String
        },
        fulldetails: {
            required: true,
            type: Array
        },
        files:{
            required: true,
            type: Array
        }
    },
}
</script>

<style>

</style>
