<template>
    <div class="container space-top-2 space-bottom-2 space-bottom-md-2 animated fadeInUp">
        <template v-if="profile">
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Our Team</span>
                <h2 class="font-weight-normal">Trust the professionals</h2>
                <p>Our top professionals are ready to help with your business</p>
            </div>

            <!-- {{bashir}} -->

            <div class="row">
                <div class="col-md-4 mb-7">
                    <div class="text-center px-lg-3">
                        <img @click.prevent='newuser({name:"Dr. Bashir Admani.", userimage:"/img/900x900/img2.jpg", title:"Consultant paediatrician and Nephrologist", userid:1})' class="img-fluid w-65 rounded shadow-sm point transition-3d-hover" src="/img/350x400/img1.jpg" alt="Image Description">
                        <h3 class="h5 mt-4">Dr. Bashir Admani.</h3>
                        <p class="mb-md-0">Consultant paediatrician and Nephrologist.</p>
                        <div class="d-inline-block mt-3 point" @click.prevent='newuser({name:"Dr. Bashir Admani.", userimage:"/img/900x900/img2.jpg", title:"Consultant paediatrician and Nephrologist", userid:1})'>
                            <span class="badge badge-primary badge-pill badge-bigger mb-3">Read more.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-7">
                    <div class="text-center px-lg-3">
                        <img @click.prevent="newuser({name:'Dr. Anne-Marie.', userimage:'/img/900x900/img1.jpg', title:'Physician with over 18 years of clinical experience.', userid:2})" class="img-fluid w-65 rounded shadow-sm point transition-3d-hover" src="/img/350x400/anne.jpg" alt="Image Description">
                        <h3 class="h5 mt-4 point">Dr. Anne-Marie.</h3>
                        <p class="mb-md-0">Physician with over 18 years of clinical experience.</p>
                        <div class="d-inline-block mt-3 point" @click.prevent="newuser({name:'Dr. Anne-Marie.', userimage:'/img/900x900/img1.jpg', title:'Physician with over 18 years of clinical experience.', userid:2})">
                            <span class="badge badge-primary badge-pill badge-bigger mb-3">Read more.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-7">
                    <div class="text-center px-lg-3">
                        <img @click.prevent="newuser({name:'Dr. Rosemary Lopokoiyit', userimage:'/img/900x900/DrRosie1.jpg', title:'Paediatrician', userid:3})" class="img-fluid w-65 rounded shadow-sm point transition-3d-hover" src="/img/350x400/rosethmb.jpg" alt="Image Description">
                        <h3 class="h5 mt-4 point">Dr. Rosemary Lopokoiyit</h3>
                        <p class="mb-md-0">Dr Rosemarie is a paediatrician passionate about all things child health.</p>
                        <div class="d-inline-block mt-3 point" @click.prevent="newuser({name:'Dr. Rosemary Lopokoiyit', userimage:'/img/900x900/DrRosie1.jpg', title:'Paediatrician', userid:3})">
                            <span class="badge badge-primary badge-pill badge-bigger mb-3">Read more.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="text-center">
                    <span @click.prevent="$emit('cancelTeam')" class="btn btn-xs btn-soft-primary btn-pill mb-2 mb-sm-0 mr-auto ml-auto point">Back</span>
                </div>
            </div>
        </template>
        <template v-else>
            <selectedprofile :usename="usename" :userdetails="userdetails" :userimage="userimage" :userprofile="userprofile" @cancelProfile="profile = true"/>
        </template>

    </div>
</template>

<script>
// 
import Selectedprofile from "./selectedprofile";
import { mapGetters } from 'vuex'
export default {
    components: {
        Selectedprofile
    },
    data() {
        return {
            profile: true,
            usename: null,
            userprofile: null,
            userimage: null,
            userdetails: null
        };
    },
    computed: {
        ...mapGetters({
            bashir: 'bashir',
            anne: 'anne',
            farida: 'farida',
        })
    },
    methods: {
        newuser(data){
            
            
            if (data.userid == 1) {
                this.userdetails = this.bashir
            }else if (data.userid == 2) {
                this.userdetails = this.anne
            } else {
                this.userdetails = this.farida
            }
            this.usename = data.name
            this.userprofile = data.title
            this.userimage = data.userimage
            this.profile = false
        }
    },
}
</script>

<style>

</style>
