<template>
    <div class="container-fluid p-0">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mt-4" id="sendMessage">
            <h2 class="text-primary"><span class="font-weight-semi-bold">Get in touch with us.</span></h2>
            <p>Click on the button below to send us an email, Make sure to fill all the inputs so that we can get back to you ASPA.</p>
        </div>

        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5" v-if="sendingMessage == false">
            <a href="#" @click.prevent="sendingMessage = true" class="btn btn-primary btn-wide btn-pill transition-3d-hover">Send an email or booking. <span class="fas fa-paper-plane ml-2"></span></a>
        </div>


        <template v-if="sendingMessage">
            <div class="w-md-80 w-lg-50 text-left mx-md-auto mb-5">
                <contactform @cancel="sendingMessage = false" @created="created"/>
            </div>
        </template>
        <!-- End Title -->


        <GmapMap
            :center="{lat:-1.279417, lng:36.777916}"
            :zoom="12.5"
            map-type-id="terrain"
            style="width: 100%; height: 400px"
            >
            <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :clickable="true"
                :draggable="true"
                @click="center=m.position"
            />
        </GmapMap>


    </div>
</template>

<script>
import Contactform from "./contactform";
export default {
    components: {
        Contactform
    },
    data() {
        return {
            sendingMessage: false,
            markers: [
                {position: { lng:36.824699, lat:-1.261835 }},
                {position: { lng:36.770363, lat:-1.320328 }},
                {position: { lng:36.703850, lat:-1.280015 }},
            ]
        };
    },
    methods: {
        created(data) {
            this.$swal(
                'Sent!',
                `Thank you ${data.name}!!. Your message has been sent! we will get back to you in 24hr or less.`,
                'success'
            );
            this.sendingMessage = false
        },
    }
}
</script>

<style>

</style>
