<template>
    <div class="container animated bounceIn faster">
        <div class="row w-100">
            <div class="col-lg-5">
                <h3 class="font-size-md-down-5 mb-3 mt-5">{{usename}}</h3>
                <h4 class="h6 text-success mb-3">{{userprofile}}</h4>
                <p v-for="usr in userdetails" :key="usr.id">
                    {{usr.para}}
                </p>
            </div>
            <div id="SVGNonStandardHeroShape" class="col-lg-7" style="">
                <div>
                    <!-- SVG Illustration -->
                    <figure class="ie-non-standard-hero-shape">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 878.9 907" style="enable-background:new 0 0 878.9 907;" xml:space="preserve" class="injected-svg js-svg-injector" data-img-paths="[
                            {&quot;targetId&quot;: &quot;#SVGNonStandardHeroShapeImg1&quot;, &quot;newPath&quot;: &quot;/img/750x750/img1.jpg&quot;},
                            {&quot;targetId&quot;: &quot;#SVGNonStandardHeroShapeImg2&quot;, &quot;newPath&quot;: &quot;/img/750x750/img1.jpg&quot;}
                        ]" data-parent="#SVGNonStandardHeroShape">
                        <style type="text/css">
                            .non-standard-her-shape-0{fill:none;stroke:#00C9A7;}
                            .non-standard-her-shape-1{fill:#377DFF;}
                            .non-standard-her-shape-2{fill:none;stroke:#377DFF;}
                        </style>
                        <path class="non-standard-her-shape-0 fill-none stroke-success" stroke-width="4" stroke-miterlimit="10" d="M804.6,750.3c-0.1-1.9-1-3.6-2.5-4.7c-2.3-1.7-6.1-2.2-11.4,5.5c-8.4,12.2-0.5,11.7,0.6,11.6c0.1,0,0.2,0,0.3,0  l7.3-0.5c3.5-0.2,6.2-3.3,6-6.8L804.6,750.3z"></path>
                        <path class="non-standard-her-shape-1 fill-primary" opacity=".05" d="M120.7,273c-19.4-25.9-31.8-57.8-28.8-90.1c2.9-32.6,21.7-61.6,46.3-84.4c1.5-1.5,3.1-2.8,4.6-4.2  c32.1-28,70.1-49.7,110.7-65C308,8.9,367.1-0.5,425.4,0c72.3,0.6,146.5,15.1,206.8,52.7C677.1,80.6,712.7,120,736.5,165  c22.8,43.1,35.6,90.8,39.4,138.9C786.5,436.2,735.4,571,646.6,675c-38.6,45.1-84.5,84.8-135.5,117.4c-88.9,56.7-195.4,84.6-302,76.7  c-55.2-4.1-117.3-17.4-154.9-58.3C17,770.3,15.2,708.4,49.7,665c20.6-26,49.1-44.7,72.2-68.6c22.4-23.4,41.2-51.4,54.3-80.2  c13.5-29.6,20.8-61.7,18.8-93.7c0-1-0.1-2-0.2-3c-2.1-25-9.3-49.4-20.6-72.1c-11.3-22.8-28-40.7-43.4-61  C127.6,281.9,124.2,277.5,120.7,273z"></path>
                        <g>
                            <defs>
                                <path id="nonStandardHeroShapeID1" d="M208.7,289.2c-15.6-28.6-23.1-62.2-15.5-93.9c7.7-31.9,30.5-58.1,58.4-77.1c1.7-1.2,3.5-2.3,5.2-3.5    c35.9-23.1,76.8-39.2,119.3-48.4c57.1-12.3,117-13,174.9-3.9c71.7,11.3,143.2,36.6,197.6,82.8c40.4,34.3,70.1,78.8,87.1,127    c16.4,46.2,22.2,95.6,18.9,144c-8.8,133.1-79.1,259.8-182.4,350.1c-44.8,39.3-96.2,72-151.7,96.8    c-96.6,43.3-206.3,55.4-311,31.8c-54.3-12.2-114.1-34.4-145.4-80.7c-18-26.5-22.4-61.1-13.6-92c9.6-33.6,32.9-57.9,61.3-77    c29.4-19.7,58.4-38.6,83.3-64.1c23.1-23.8,42.5-51.5,54-82.7c2-5.3,3.7-10.7,5.2-16.2c10-36.7,8.3-75.3-3.5-111.4    c-7.8-24.4-21.8-44.5-34.2-67C214.1,299,211.3,294.1,208.7,289.2z"></path>
                            </defs>
                            <clipPath id="nonStandardHeroShapeID2">
                                <use href="#nonStandardHeroShapeID1" style="overflow:visible;"></use>
                            </clipPath>
                            <g clip-path="url(#nonStandardHeroShapeID2)">
                                <image id="SVGNonStandardHeroShapeImg1" style="overflow:visible;" width="900" height="900" :href="userimage" transform="matrix(0.9488 0 0 0.9488 25 53.1187)"></image>
                            </g>
                        </g>
                        <circle class="non-standard-her-shape-0 fill-none stroke-success" stroke-width="4" stroke-miterlimit="10" cx="164.9" cy="284.4" r="7"></circle>
                        <path class="non-standard-her-shape-2 fill-none stroke-primary" stroke-width="7" stroke-linecap="round" stroke-miterlimit="10" d="M668.2,76.1c0,0,257,93.1,123.1,570.9"></path>
                        <g>
                            <defs>
                                <path id="nonStandardHeroShapeID3" d="M169.4,334.7C211,368.7,234,428.8,227,481c-4.5,33.1-24.8,59.5-47.3,83.1c-16.6,17.4-35.2,32.7-54.9,46.4    c-6.9,4.8-14.9,11.2-23.4,11.5c-8.4,0.3-16.5-3.2-21.5-10.1c-3.6-4.9-5.1-10.9-4.6-16.9c0-0.4,0.1-0.9,0.1-1.4    c1.9-18.2,7.6-35.5,12.6-53c13.7-47.7,22.4-100.5,10.1-149.5c-5.1-20.3-11.8-52.5,4.9-69.8c13.3-13.7,34.4-7,48.7,1.1    C157.9,326,163.9,330.1,169.4,334.7z"></path>
                            </defs>
                            <clipPath id="nonStandardHeroShapeID4">
                                <use href="#nonStandardHeroShapeID3" style="overflow:visible;"></use>
                            </clipPath>
                            <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#nonStandardHeroShapeID4)">
                                <image id="SVGNonStandardHeroShapeImg2" style="overflow:visible;" width="900" height="900" :href="userimage" transform="matrix(0.9488 0 0 0.9488 25 53.1187)"> </image>
                            </g>
                        </g>
                        </svg>
                    </figure>
                    <!-- End SVG Illustration -->
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="text-center">
                <span @click.prevent="$emit('cancelProfile')" class="btn btn-xs btn-soft-success btn-pill mb-2 mb-sm-0 mr-auto ml-auto point">Doctors to profiles</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        usename: {
            required: true,
            type: String
        },
        userprofile: {
            required: true,
            type: String
        },
        userimage:{
            required: true,
            type: String
        },
        userdetails:{
            required: true,
            type: Array
        }
    }
}
</script>

<style>

</style>
