<template>
    <!-- Testimonials -->
    <span>
        <template v-if="bookingForm">
            <!-- <bookservice @cancelBooking="bookingForm = false" :doctor="doctor" :servicedesc="servicedesc"/> -->
        </template>
        <template v-else>
            



            <template v-if="moreDetails">
                <fullwriteup @cancelFullDetails="moreDetails = false" :title="title" :files="files" :fulldetails="fulldetails"/>
            </template>
            <template v-else>

                <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
                    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Services details</span>
                    <h2 class="text-primary"><span class="font-weight-semi-bold">{{servicedesc}}</span></h2>
                </div>

                
                <div class="row animated zoomInDown faster">
                    <div class="col-md-11 ml-auto mr-auto">
                        <div class="bg-img-hero" style="background-image: url(/img/bg-shapes/bg3.png);">
                            <div class="container space-0 mb-5">
                                <!-- SVG Quote -->
                                <figure class="mb-5 mx-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                                        viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                        <path class="fill-primary" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
                                    </svg>
                                </figure>

                                <!-- End SVG Quote -->
                                
                                <!-- Testimonials Carousel Main -->
                                <div id="testimonialsNavMain" class="js-slick-carousel u-slick--transform-off mb-4"
                                    data-infinite="true"
                                    data-autoplay="true"
                                    data-speed="5000"
                                    data-fade="true"
                                    data-nav-for="#testimonialsNavPagination">
                                    <div class="js-slide">
                                        <!-- Testimonials -->
                                        <div class="w-md-90 w-lg-90 mx-auto">

                                            <div class="row">
                                                <div class="col-md-6" v-if="details.desc1">
                                                    <div class="card">
                                                        <div class="card-body pt-4 pb-5 px-5 mb-3 mb-md-0">
                                                            <!-- Title & Settings -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <h4 class="h6 mb-0">Services</h4>
                                                            </div>
                                                            <!-- End Title & Settings -->

                                                            <hr class="my-2">

                                                            <div class="overflow-hidden">
                                                                <div class="js-scrollbar pr-3" style="max-height: 500px;">
                                                                    <!-- Activity Feed -->
                                                                    <ul class="list-unstyled u-indicator-vertical-dashed">
                                                                        <li v-for="dt in details.desc1" :key="dt.id"  v-scroll-to="{el: '#ourServices', offset: 80,}" class="media u-indicator-vertical-dashed-item">
                                                                            <span @click.prevent='showdetails({title:dt.name,fulldetails:dt.details,files:dt.files})' :class="'btn-'+dt.class" class="point btn btn-xs btn-icon rounded-circle mr-3">
                                                                                <span class="btn-icon__inner">{{dt.lt}}</span>
                                                                            </span>
                                                                            <div class="point media-body" @click.prevent='showdetails({title:dt.name,fulldetails:dt.details,files:dt.files})'>
                                                                                <h5 class="font-size-1 mb-1">{{dt.name}}</h5>
                                                                                <p class="small mb-1">{{dt.desc}}</p>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <!-- End Activity Feed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6" v-if="details.desc2">
                                                    <div class="card">
                                                        <div class="card-body pt-4 pb-5 px-5 mb-3 mb-md-0">
                                                            <!-- Title & Settings -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <h4 class="h6 mb-0">Services</h4>
                                                            </div>
                                                            <!-- End Title & Settings -->

                                                            <hr class="my-2">

                                                            <div class="overflow-hidden">
                                                                <div class="js-scrollbar pr-3" style="max-height: 500px;">
                                                                    <!-- Activity Feed -->
                                                                    <ul class="list-unstyled u-indicator-vertical-dashed">
                                                                        <li v-for="dt in details.desc2" :key="dt.id"  v-scroll-to="{el: '#ourServices', offset: 80,}" class="media u-indicator-vertical-dashed-item">
                                                                            <span @click.prevent='showdetails({title:dt.name,fulldetails:dt.details,files:dt.files})' :class="'btn-'+dt.class" class="point btn btn-xs btn-icon rounded-circle mr-3">
                                                                                <span class="btn-icon__inner">{{dt.lt}}</span>
                                                                            </span>
                                                                            <div class="point media-body" @click.prevent='showdetails({title:dt.name,fulldetails:dt.details,files:dt.files})'>
                                                                                <h5 class="font-size-1 mb-1">{{dt.name}}</h5>
                                                                                <p class="small mb-1">{{dt.desc}}</p>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <!-- End Activity Feed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Testimonials -->
                                    </div>
                                </div>
                                <!-- End Testimonials Carousel Main -->

                                <!-- Testimonials Carousel Pagination -->
                                <div id="testimonialsNavPagination" class="js-slick-carousel u-slick--pagination-modern u-slick--transform-off mx-auto">
                                    <div class="js-slide">
                                        <div class="u-avatar mx-auto">
                                            <button v-scroll-to="{el: '#ourServices', offset: -30,}" @click.prevent="$emit('cancelDetail')" type="button" class="btn btn-icon btn-success rounded-circle transition-3d-hover mb-1">
                                                <span class="fas fa-arrow-left"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Testimonials Carousel Pagination -->
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <div class="w-md-80 w-lg-50 text-center mx-md-auto mt-4">
                <span v-scroll-to="{el: '#sendMessage', offset: -120,}" @click.prevent="sendingMessage = true" class="btn btn-xs btn-soft-danger btn-pill transition-3d-hover point">Book for {{servicedesc}}</span>
            </div>
        </template>
    </span>
    <!-- End Testimonials -->
</template>

<script>

// import Bookservice from "./bookservice";
import Fullwriteup from "./fullwriteup";
export default {
    data(){
        return{
            bookingForm: false,
            moreDetails: false,
            files: null,
            title: null,
            fulldetails: null,
        }
    },
    components: {
        Fullwriteup
    },
    props: {
        details: {
            required: true,
            type: Object
        },
        doctor: {
            required: true,
            type: String
        },
        servicedesc: {
            required: true,
            type: String
        }
    },
    methods: {
        bookingdata(data){
            this.doctor = data.doctor
            this.servicedesc = data.servicedesc
            this.bookingForm = true
        },
        showdetails(data){
            this.title = data.title
            this.fulldetails = data.fulldetails
            this.files = data.files
            this.moreDetails = true
        },
    },
}
</script>

<style>
.card{
    background-color: rgba(255, 255, 255, 0.7);
}
</style>
