<template>
    <div class="bg-light pb-5" id="ourServices">
        <div class="container space-2 space-md-2">
            
            <template v-if="showDetails">
                <workdetails :doctor="doctor" :details="details" :servicedesc="servicedesc" @cancelDetail="showDetails = false" />
            </template>

            <template v-else>
                <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Services</span>
                    <h2 class="text-primary">How Can We <span class="font-weight-semi-bold">Help You</span></h2>
                    <p>Here are some of our services to help us reach out to more people.</p>
                </div>
                <div id="pricingMonthly" class="row align-items-center animated fadeIn" data-target-group="idPricing">

                    <div v-scroll-to="'#ourServices'" v-for="srv in services" :key="srv.id" @click.prevent='servicedata({doctor:srv.doctor, details:srv.deacription, servicedesc:srv.servicedone})' class="col-sm-4 mb-5">
                        <work :iconname="srv.icon" :servicedone="srv.servicedone"/>
                    </div>

                </div>

                <div class="w-md-80 w-lg-50 text-center mx-md-auto mt-4">
                    <span class="btn btn-xs btn-soft-primary btn-pill">More Services</span>
                </div>
            </template>

        </div>
    </div>
</template>

<script>
import Workdetails from "./workdetails";
import Work from "./work";
import { mapGetters } from 'vuex'
export default {
    data(){
        return{
            showDetails: false,
            doctor: null,
            details: null,
            servicedesc: null,
        }
    },
    components: {
        Workdetails, Work
    },
    computed: {
        ...mapGetters({
            services: 'services/services'
        })
    },
    methods: {
        servicedata(data){
            this.doctor = data.doctor
            this.details = data.details
            this.servicedesc = data.servicedesc
            this.showDetails = true
        }
    },
}
</script>

<style>

</style>
