/*

Brand color: #f5b150
Gradient colors: #f07a23 and #f5b150
Brand dark color: #eba23b

*/

/* Highlight Color */
::selection { color: #fff; background: #f5b150; }
::-moz-selection { color: #fff; background: #f5b150; }
.bg-brand, .bg-grad::selection { color: #f5b150; background: #fff; }
.bg-brand, .bg-grad::-moz-selection { color: #f5b150; background: #fff; }

/* Color */
a, .navbar-top a:hover, .dropdown-item:active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .btn-link, .portfolio-card .portfolio-card-body .portfolio-card-footer .info-title a:hover, .post .post-info a:hover, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, .icon-primary i:before, .footer-dark .widget a:hover, .portfolio .nav .nav-tabs .nav-filter.active, .team-item .team-position, .list-group-item-action:hover, .list-group-item-action:focus, .hamburger-menu label a:hover, .breadcrumb .breadcrumb-item a:hover i, .post-item .post-item-desc .post-meta a:hover, .post-item .post-item-desc h4 a:hover, .post-item .item-link:hover, .post-item .post-quote > blockquote:before, .page-link:hover, .sidebar .widget .widget-post .details a:hover, .sidebar .widget a:hover, .list-group-borderless a.list-group-item:hover, .tags a:hover, .post-navigation .post-prev:hover:before, .post-navigation .post-prev:hover h6, .post-navigation .post-prev:hover p, .post-navigation .post-next:hover:before, .post-navigation .post-next:hover h6, .post-navigation .post-next:hover p, .post-navigation .all-post:hover, .blockquote:before, .btn-outline-grad { color: #f5b150; }

/* Checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #f5b150;
    border-color: #f5b150;
    background-color: #f5b150;
}

/* Navbar Dark link colors */
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: #f5b150; }
.list-group-icon-primary-bg i { background-color: #ffebce; color: #f5b150; }

.btn-link:hover, a:hover { color: #eba23b; }
.post .post-tag a:hover, .portfolio-style-2 .portfolio-card .portfolio-card-footer .info-title a:hover, .portfolio .nav .nav-tabs-style-3 .nav-filter.active, .portfolio .nav .nav-tabs-style-2 .nav-filter.active, .portfolio .nav .nav-tabs-style-4 .nav-filter.active { color: #ffffff; }
a.text-primary:hover, a.text-primary:focus, .primary-hover li:hover {
    color: #0361e5 !important;
}

.nav-tabs.tab-line .nav-link.active {
    color: #f5b150;
    border-bottom: 2px solid #f5b150;
}

/* Color important */
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .primary-hover a:hover, .text-primary, a.primary-hover:hover { color: #f5b150 !important; }

/* Primary Button */
.btn-outline-primary {
    color: #f5b150;
    border-color: #f5b150;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #f5b150;
    border-color: #f5b150;
}

/* Background */
.navbar-primary.navbar-sticky-on { background-color: #f5b150; }
.owl-carousel.dots-primary .owl-dots .owl-dot span {
    box-shadow: inset 0 0 0 2px #f5b150;
}
.owl-carousel.dots-primary .owl-dots .owl-dot span:after, .cd-headline.big-clip .cd-words-wrapper::after { background-color: #f5b150; }
.bg-primary { background: #f5b150 !important; }
.accordion.toggle-icon-round .accordion-title a:after { background: #f5b150; }
.accordion-primary .accordion-title, .cd-headline.clip .cd-words-wrapper::after, .cd-headline.loading-bar .cd-words-wrapper::after { background: #f5b150; }

.btn-primary { background: #f5b150; border-color: #f5b150; }
.btn-primary:hover { background: #f07a23; border-color: #f07a23; }
.skill-item .progress-bar, .nav-tabs .nav-link.active, .nav-tabs.tab-bordered .nav-link.active { background-color: #f5b150; }

/* Border Color */
.form-control:focus, .feature-box.f-style-3:hover { border-color: #f5b150; }
.btn-link:after { border-bottom: solid 2px #eba23b; }
.primary-border-left-dotted {
    border-left: dashed 1px #f5b150;
}
.testimonials.testimonials-border .testimonials-wrap:hover .testi-text p { border: 3px solid #f5b150; }
.testimonials.testimonials-border .testimonials-wrap:hover .testi-text p:before {
    border-color: #f5b150 transparent transparent;
}
.tags a:hover {
    border: 1px solid #f5b150;
}
.portfolio .nav .nav-tabs-style-1 .nav-filter.active { border-color: #f5b150; }
.blockquote.primary-line {
    border-left: 5px solid #f5b150;
}

/* Gradient Text */
.text-grad, .counter-grad-text .counter-item-icon, .counter-grad-text .counter-item-digit {
  background: -moz-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5b150), color-stop(100%, #f07a23));
  background: -webkit-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: -o-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: -ms-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* Gradient Background */
.bg-grad, .skill.skill-grad .progress-bar, .nav-tabs.tab-grad .nav-link.active, .portfolio-style-2 .portfolio-card .portfolio-card-header:before, .portfolio-style-2 .portfolio-card:hover .portfolio-card-header:before, .team.team-overlay .team-item .team-avatar:before, .team.team-overlay .team-item:hover .team-avatar:before, .pricing .ribbon span, .portfolio .nav .nav-tabs-style-3 .nav-filter.active, .portfolio .nav .nav-tabs-style-2 .nav-filter.active, .portfolio .nav .nav-tabs-style-4 .nav-filter.active {
    background: -moz-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5b150), color-stop(100%, #f07a23));
    background: -webkit-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -o-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -ms-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
}
.btn-grad, .btn-outline-grad:before {
    background: -moz-linear-gradient(150deg, #f07a23 0%, #f5b150 50%, #f07a23 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f07a23), color-stop(50%, #f5b150), color-stop(100%, #f07a23));
    background: -webkit-linear-gradient(150deg, #f07a23 0%, #f5b150 50%, #f07a23 100%);
    background: -o-linear-gradient(150deg, #f07a23 0%, #f5b150 50%, #f07a23 100%);
    background: -ms-linear-gradient(150deg, #f07a23 0%, #f5b150 50%, #f07a23 100%);
    background: linear-gradient(150deg, #f07a23 0%, #f5b150 50%, #f07a23 100%);
    background-size: 260% 100%;
    background-position: right bottom;
}
.icon-grad i:before {
    background: -moz-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5b150), color-stop(100%, #f07a23));
    background: -webkit-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -o-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -ms-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-fill-color: transparent;
}

.accordion-grad .accordion-title a, .blockquote.grad-line:after, .feature-box.f-style-1:before {
    background: -moz-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5b150), color-stop(100%, #f07a23));
    background: -webkit-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -o-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -ms-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
}

.divider-grad:before {
  background: -moz-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5b150), color-stop(100%, #f07a23));
  background: -webkit-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: -o-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: -ms-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  background: linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
}

.divider-grad:after {
  background: -moz-linear-gradient(150deg, #f07a23 0%, #f5b150 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f07a23), color-stop(100%, #f5b150));
  background: -webkit-linear-gradient(150deg, #f07a23 0%, #f5b150 100%);
  background: -o-linear-gradient(150deg, #f07a23 0%, #f5b150 100%);
  background: -ms-linear-gradient(150deg, #f07a23 0%, #f5b150 100%);
  background: linear-gradient(150deg, #f07a23 0%, #f5b150 100%);
}

@media only screen and (min-width:992px) {
  .navbar-nav .dropdown-menu:before {
    background: -moz-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5b150), color-stop(100%, #f07a23));
    background: -webkit-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -o-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: -ms-linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
    background: linear-gradient(150deg, #f5b150 0%, #f07a23 100%);
  }
}

/*SVG fill color*/
.fill-grad-start { stop-color: #f5b150; }
.fill-grad-end { stop-color: #f07a23; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .icon-grad i::before{ background: none; color: #f5b150 !important; }
  .text-grad{  background: none; color: #f5b150 !important; }
}