<template>
    <div class="bg-light">
        <footer class="container space-0">
            <div class="row align-items-md-center py-5">
                <div class="col-md-4 mb-4 mb-md-0">
                <div class="d-flex align-items-center">
                    <p class="small mb-0">© Pedriatric Clinic. All rights reserved.</p>
                </div>
                </div>

                <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
                <!-- List -->
                
                <!-- End List -->
                </div>

                <div class="col-sm-6 col-md-4">
                <!-- Social Networks -->
                <ul class="list-inline text-sm-right mb-0">
                    <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle" href="#">
                        <span class="fab fa-facebook-f btn-icon__inner"></span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle" href="#">
                        <span class="fab fa-google btn-icon__inner"></span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle" href="#">
                        <span class="fab fa-twitter btn-icon__inner"></span>
                    </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
}
</script>

<style>

</style>
