<template>
    <span>
        <banner/>
        <about/>
        <works/>
        <div class="container space-2 space-md-1 animated fadeInDown">
            <div class="row justify-content-between align-items-center">
                <div class="col-8 mx-auto">
                    <no-ssr>
                        <full-calendar :events="events" :config="config"></full-calendar>
                    </no-ssr>
                </div>
            </div>
        </div>

        <!-- <a data-fancybox="gallery" href="/img/100x100/img1.jpg"><img src="/img/100x100/img1.jpg"></a>
        <a data-fancybox="gallery" href="/img/100x100/img1.jpg"><img src="/img/100x100/img1.jpg"></a> -->
        
        <booking/>
        <policy/>
    </span>
</template>

<script>
import Logo from "~/components/Logo.vue";
import About from "~/components/about.vue";
import Works from "~/components/works.vue";
import Booking from "~/components/booking.vue";
import Policy from "~/components/policy.vue";
import Banner from "~/components/banner.vue";

export default {
    directives: {
        fcevent: {
            bind: function(el) {
                $(el).data("event", {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // Make the event draggable using jQuery UI
                $(el).draggable({
                    start: function (event, ui) {
                        jQuery.event.dispatch.apply($(document)[0], [event]);
                    },
                    zIndex: 999,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0 // original position after the drag
                });
            }
        }
    },
    data() {
        return {
            events: [
                {
                    title  : 'event1',
                    start  : '2019-06-03',
                    color: '#265499',
                    textColor: '#ffffff',
                },
                {
                    title  : 'event2',
                    start  : '2019-06-18',
                    end    : '2019-06-21',
                    color: '#265499',
                    textColor: '#ffffff',
                },
                {
                    title  : 'event3',
                    start  : '2019-06-09T12:30:00',
                    allDay : false,
                    color: '#265499',
                    textColor: '#ffffff',
                },
            ],
            config: {
                // weekends: false,
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "agendaDay,agendaWeek,month"
                },
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar
                dragRevertDuration: 2,
                drop: function() {
                    // is the "remove after drop" checkbox checked?
                    if ($("#drop-remove").is(":checked")) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                    }
                },
                eventDragStop: function(event, jsEvent, ui, view) {
                    if (isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                        $("#calendar").fullCalendar("removeEvents", event._id);
                        var el = $("<div class='fc-event'>")
                            .appendTo("#external-events-listing")
                            .text(event.title);
                        el.draggable({
                            zIndex: 999,
                            revert: true,
                            revertDuration: 0
                        });
                        el.data("event", { title: event.title, id: event.id, stick: true });
                    }
                }
            }
        };
    },
    components: {
        Logo, About, Works, Booking, Policy, Banner
    },
    mounted() {
        // Inside page components
        this.$OneSignal.push(() => {
            this.$OneSignal.isPushNotificationsEnabled((isEnabled) => {
            if (isEnabled) {
                // console.log('Push notifications are enabled!')
                } else {
                // console.log('Push notifications are not enabled yet.')
                }
            })
        })
        // Using window and array form
        window.$OneSignal.push(['addListenerForNotificationOpened', (data) => {
            // console.log('Received NotificationOpened:', data )
            }
        ]);
    },
};
</script>

<style>
</style>